@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: local("PT Sans"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: local("PT Sans"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

@keyframes bounce {
  0% {
    top: 300%;
  }
  90% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

body {
  min-width: 960px;
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.content h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  margin: 0 0 26px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  color: #fff;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #ee3643;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn--wide {
  width: 100%;
}

.btn--slider {
  min-width: 195px;
}

.btn--withe {
  color: #000000;
  background-color: #ffffff;
}

.btn--withe:hover {
  background-color: #f7fbfd;
}

.btn--withe:active {
  background-color: #ffffff;
}

.heading {
  font-size: 30px;
  padding: 33px 28px 32px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: -0.03em;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  font-family: "Cuprum", sans-serif;
  background-color: #f2f6f8;
  padding-bottom: 60px;
}

.header__top {

  color: #fff;
  background-color: #293449;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.header__btn {
  color: #fff;
  font-size: 17px;
  line-height: 42px;
}

.header__btn:hover {
  background-color: #212a3a;
  transition: 0.3s;
}

.header__btn:hover::before {
  opacity: 1;
}

.header__btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.header__btn:active::before {
  opacity: 0.5;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
  transition: box-shadow 0.3s, background-color 0.3s, background 0.3s, background-color 0.3s;
}

.logo:not([href]) {
  pointer-events: none;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}

.logo--footer {
  width: 220px;
  min-width: 220px;
  height: 63px;
}

.search {
  position: relative;
  transition: 0.3s;
}

.search:hover {
  background-color: #212a3a;
}

.search svg {
  opacity: 0.3;
  transition: 0.3s;
}

.search:hover svg {
  opacity: 1;
}

.search__icon {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  fill: #ffffff;
  transition: 0.3s;
}

.search__input {
  width: 270px;
  height: 42px; /* fix ie */
  color: #fff;
  font-size: 17px;
  line-height: 42px;
  margin: 0;
  padding: 0 20px 0 48px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  transition: 0.3s;
}

.search__input::placeholder {
  color: #fff;
}

.search__input:focus::placeholder {
  color: #000000;
}

.search__input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search__input:focus + .search__label .search__icon {
  opacity: 1;
  fill: #ee3643;
}

.header__btn {
  position: relative;
  min-width: 150px;
  text-align: center;

}

.header__btn::before {
  position: absolute;
  top: 12px;
  left: 17px;
  content: '';
  opacity: 0.3;
  transition: 0.3s;
}

.header__btn--bookmarks {
  text-align: left;
  padding-left: 44px;
  padding-right: 20px;
}

.header__btn--cart {
  text-align: left;
  padding-left: 49px;
  padding-right: 20px;
}

.header__btn--bookmarks::before {
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
}

.header__btn--cart::before {
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
}

.header__btn--cart-active {
  background-color: #ee3643;
}

.header__btn--checkout {
  background-color: #63a63e;
}

.header__btn--checkout:hover {
  background-color: #5fbb2d;
}

.header__btn--checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header__btn--checkout::before {
  content: none;
}

.header__middle {
  display: flex;
  width: 940px;
  margin: 46px auto 38px
}

.header__slogan {
  max-width: 200px;
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 3px 67px 0 53px;
}

.header__phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-width: 270px;
  min-height: 45px;
  padding-left: 40px;
  padding-right: 49px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 5px;
  border: 3px solid #ffffff;
}

.header__phone::before {
  content: '';
  left: 12px;
  top: 10px;
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url('../img/svg/icon-phone.svg');
}

.header__phone-link {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  white-space: nowrap;
  margin-top: -1px;
}

.header__address {
  color: #32425c;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.header__login-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.header__login-menu li {
  margin-right: 10px;
}

.header__login-menu li:last-child {
  margin-right: 0;
}

.header__login-menu a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 21px;
  line-height: 45px;
  color: #000;
  background-color: #fff;
}

.header__login-menu svg {
  fill: #c5c5c5;
  transition: 0.3s;
}

.header__login-menu a:hover {
  color: #ee3643;
}

.header__login-menu a:hover svg {
  fill: #32425c;
}

.header__login-menu a:active {
  color: #cacaca;
}

.header__login-menu a:active svg {
  fill: #c5c5c5;
}

.header__login-menu .header__login-menu-enter {
  position: relative;
  padding-left: 48px;
  padding-right: 25px;
}

.header__login-menu-enter svg {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-color: #fff;
}

.header__user {
  margin-left: auto;
  min-width: 299px;
}

.header__user-wrap {
  display: flex;
}

.header__user-name {
  position: relative;
  flex-grow: 1;
  font-size: 21px;
  line-height: 45px;
  color: #000;
  background-color: #fff;
  padding-left: 46px;
}

.header__user-name:active {
  color: #c5c5c5;
}

.header__user-name svg {
  position: absolute;
  top: 13px;
  left: 13px;
  fill: #c5c5c5;
  transition: 0.3s;
}

.header__user-name:hover svg {
  fill: #32425c;
}

.header__user-name:active svg {
  fill: #c5c5c5;
}

.header__user-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  padding: 0 10px;
}

.header__user-logout svg {
  fill: #c5c5c5;
  transition: 0.3s;
}

.header__user-logout:hover svg {
  fill: #32425c;
}

.header__user-logout:active svg {
  fill: #c5c5c5;
}

.header__user-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
  margin-left: 18px;
  margin-bottom: 0;
}

.header__user-menu a {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  transition: 0.3s;
}

.header__user-menu a:hover {
  color: #ee3643;
}

.header__user-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.header__user-menu li {
  position: relative;
  margin-right: 31px;
}

.header__user-menu li:after {
  content: '';
  position: absolute;
  top: 11px;
  right: -19px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.header__user-menu li:last-child {
  margin-right: 0;
}

.header__user-menu li:last-child:after {
  display: none;
}

.main-nav {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none
}

.main-nav a {
  display: block;
  font-size: 17px;
  line-height: 55px;
  height: 55px;
  color: #fff;
  padding-top: 1px;
  padding-left: 32px;
  padding-right: 32px;
  transition: color 0.3s, background-color 0.3s;
}

.main-nav li:nth-child(3) a,
.main-nav li:nth-child(5) a {
  padding-left: 27px;
  padding-right: 28px;
}

.main-nav li:nth-child(6) a {
  padding-left: 34px;
  padding-right: 31px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.content-index {
  margin-top: 59px;
}

.categories-promo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.categories-promo__item {
  position: relative;
  width: 300px;
  color: #ffffff;
  background-color: #ffc047;
  padding-top: 21px;
  padding-right: 23px;
  padding-bottom: 22px;
  padding-left: 23px;
  margin-bottom: 20px;
}

.categories-promo__item::after {
  position: absolute;
  content: '';
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/icon-1.svg");
}

.categories-promo__item--tool {
  background-color: #3bbce3;
}

.categories-promo__item--tool::after {
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/icon-2.svg");
}

.categories-promo__item--technics {
  background-color: #dc91d8;
}

.categories-promo__item--discounts::after {
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/svg/icon-4.svg");
}

.categories-promo__item--discounts {
  background-color: #8ed78f;
}

.categories-promo__item--technics::after {
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/icon-3.svg");
}

.categories-promo__item--delivery::after {
  top: 31px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/svg/icon-5.svg");
}

.categories-promo__item--new::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url("../img/label_new.png");
  z-index: 1;
}

.categories-promo__item h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

.categories-promo__item a {
  display: inline-block;
  vertical-align: middle;
  min-width: 135px;
  height: 38px;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  margin-left: 1px;
}

.categories-promo__item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-promo__item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.slider {
  position: relative;
  width: 620px;
  min-width: 620px;
  margin-right: 20px;
  height: 266px;
}

.slider__wrapper {
  position: relative;
  height: 100%;
}

.slider__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 29px 24px 22px;
  background-color: #685c53;
}

.slider__item:nth-child(1) {
  background-image: url("../img/slide_1.jpg");
}

.slider__item:nth-child(2) {
  background-image: url("../img/slide_2.jpg");
  background-size: cover;
}

.slider__item h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

.slider__item p {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
}

.slider__item .btn {
  margin-top: auto;
  margin-left: 1px;
}

.slider__button-prev,
.slider__button-next {
  position: absolute;
  z-index: 10;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-left.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

.slider__button-next {
  background-image: url("../img/svg/icon-right.svg");
  left: auto;
  right: 20px;
}

.slider__dots {
  position: absolute;
  left: 50%;
  bottom: 31px;
  transform: translateX(-50%);
  z-index: 10;
}

.slider__dots button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 6px;
  cursor: pointer;
}

.slider__dots button:last-child {
  margin-right: 0;
}

.slider__dots .active:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ee3643;
  transform: translate(-50%, -50%);
}

.heading-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.heading-block .btn {
  min-width: 253px;
}

.heading-block h2 {
  font-weight: normal;
  color: #32425c;
  margin-bottom: 0;
  margin-top: 1px;
  margin-left: -2px;
}

.popular-manufacturers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 65px;

}

.popular-manufacturers__item {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: 0.3s;
}

.popular-manufacturers__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 29, 0.5);
}

.popular-manufacturers__item:active {
  opacity: 0.3;
}

.popular-manufacturers__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
}

.popular-manufacturers__item:hover a {
  border-color: transparent;
}

.popular-manufacturers__bosch img {
  margin-top: -3px;
}

.popular-manufacturers__item--makita img {
  margin-top: -5px;
  margin-left: -2px;
}

.popular-manufacturers__item--dewalt img {
  margin-top: -5px;
}

.popular-manufacturers__item--interskol img {
  margin-top: -16px;
  margin-left: -2px;
}

.popular-manufacturers__item--hitachi img {
  margin-left: 5px;
  margin-top: 1px;
}

.popular-manufacturers__item--lg img {
  margin-left: -3px;
  margin-top: -2px;
}

.popular-manufacturers__item--aeg img {
  margin-left: 1px;
  margin-top: -3px;
}

.popular-manufacturers__item--metabo img {
  margin-left: 4px;
  margin-top: -8px;
}

.services {
  background-color: #f4f8f9;
  padding-top: 65px;
}

.services p {
  max-width: 400px;
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 22px;
  letter-spacing: 0.005em;
}

.service__slider {
  display: flex;
  align-items: flex-start;
}

.service__slider-controls {
  position: relative;
  width: 240px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 46px;
  padding-bottom: 48px;
  margin-right: 80px;
}

.service__slider-controls:before {
  position: absolute;
  z-index: 1;
  content: '';
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-image: url("../img/service_shadow.png");
  background-position: center right;
}

.service__slider-btn-item:first-child .service__slider-btn {
  height: 63px;
  padding-bottom: 1px;
}

.service__slider-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  text-align: left;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0.025em;
  font-family: "Cuprum", sans-serif;
  background-color: #32425c;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 2px;
  height: 62px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service__slider-btn.active {
  color: #32425c;
  background-color: #ffffff;
  border: transparent;
  transition: 0.3s;
  pointer-events: none;
}

.service__slider-btn:hover {
  background-color: #293449;
}

.service__sliders {
  position: relative;
  flex-grow: 1;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.service__slider-item {
  display: none;
  position: relative;
}

.service__slider-item::after {
  content: '';
  position: absolute;
  top: 70px;
  right: 1px;
}

.service__slider-item--delivery::after {
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
}

.service__slider-item--guarantee::after {
  width: 389px;
  height: 283px;
  right: 0;
  top: 48px;
  background-image: url("../img/guarantee.png");
}

.service__slider-item--credit::after {
  width: 465px;
  height: 285px;
  right: 0;
  top: 46px;
  background-image: url("../img/credit.png");
}

.service__slider-item.active {
  display: block;
}

.service__sliders h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 25px;
}

.service__sliders p {
  position: relative;
  z-index: 1;
  max-width: 280px;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 30px;
  min-height: 225px;
}

.service__slider-item--guarantee p {
  max-width: 380px;
}

.service__slider-item--credit .btn {
  margin-top: 26px;
}

.two-col {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  margin-bottom: 86px;
}

.about-us {
  width: 535px;
}

.about-us p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: 0.01em;
}

.about-us ul {
  font-family: "Cuprum", sans-serif;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  margin-top: -3px;
  padding-left: 37px;
  margin-bottom: 36px;
}

.about-us li {
  position: relative;
  margin-bottom: 20px;
}

.about-us li::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-us .btn {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts p {
  max-width: 200px;
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 31px;
}

.contacts .btn {
  width: 100%;
  height: 38px;
  padding-top: 1px;
  padding-left: 34px;
}

.contacts__map {
  display: block;
  margin-bottom: 33px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  letter-spacing: 0.018em;
  padding: 22px 0 19px;
  text-transform: uppercase;
  margin: 0;
  margin-left: -2px;
}

.breadcrumbs li {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-right: 39px;
}

.breadcrumbs li:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 12px;
  top: 1px;
  right: -23px;
  background-image: url('../img/svg/icon-right-small.svg');
}

.breadcrumbs li:first-child {
  margin-right: 41px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.filter {
  width: 220px;
}

.filter h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.filter__btn {
  display: block;
  min-width: 140px;
  text-align: center;
  font-size: 13px;
  color: #000000;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  background-color: transparent;
  margin-top: 75px;
}

.filter__btn:hover {
  border-color: #bdc6ca;
}

.filter__btn:active {
  border-color: #ee3643;
}

.range-slider-heading {
  position: static;
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 14px;
}

.range-slider {
  position: relative;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
  margin-bottom: 9px;
}

.range-slider__indicator {
  position: relative;
  height: 2px;
  background-color: #d7dcde;
}

.range-slider__indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 30px;
  height: 2px;
  background-color: #00ca74;
}

.range-slider__btn {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 0;
  width: 20px;
  height: 23px;
  background-color: transparent;
  background-image: url('../img/svg/filter-button.svg');
  border: none;
}

.range-slider__btn--max {
  left: 160px;
}

.range-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.range-price__min,
.range-price__max {
  height: 38px;
  width: 95px;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 0;
  background-color: #f7f3ec;
}

.range-price__min {
  padding-bottom: 2px;
  padding-left: 26px;
  padding-right: 20px;
}

.range-price__max {
  padding-bottom: 3px;
  padding-left: 22px;
  padding-right: 20px;
}

.filter fieldset {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  padding-top: 59px;
  margin-bottom: 21px;
  border-top: 1px solid #d7dcde;
}

.filter legend {
  position: absolute;
  top: 5px;
  left: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter li {
  margin-bottom: 17px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter label {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 23px;
  padding-left: 34px;
}

.filter label:hover::before {
  opacity: 1;
}

.checkbox + label::before {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  content: '';
  width: 23px;
  height: 23px;
  background-image: url('../img/svg/checkbox-off.svg');
}

.checkbox:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url('../img/svg/checkbox-on.svg');
}

.radio + label::before {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url('../img/svg/radio-off.svg');
}

.radio:checked + label::before {
  background-image: url('../img/svg/radio-on.svg');
}

.checkbox:focus + label::before,
.radio:focus + label::before {
  outline: rgb(77, 144, 254) solid 2px;
}

.checkbox:disabled + label,
.radio:disabled + label {
  opacity: 0.4;
}

.checkbox:disabled + label::before,
.radio:disabled + label::before {
  opacity: 0.3;
}

.food-heading {
  letter-spacing: 0.026em;
}

.catalog {
  width: 700px;
}

.catalog--wide {
  width: 100%;
  margin-bottom: 21px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -10px -20px;
  padding: 0;
}

.catalog__item {
  width: 220px;
  border: 1px solid #e5e5e5;
  margin: 0 10px 20px;
}

.item {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  transition: 0.3s;
}

.item--new::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 59px;
  background-image: url('../img/label_new.png');
}

.item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 29, 0.5);
  border-color: transparent;
}

.item:hover .item__hover {
  display: block;
  opacity: 1;
  z-index: 1;
}

.item img {
  display: block;
}

.item__wrapper {
  display: block;
  position: relative;
}

.item__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

.item__btn-buy {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 135px;
  font-family: "Cuprum", sans-serif;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3px;
  background-color: #63a63e;
  border-radius: 3px;
  margin-top: 43px;
  margin-bottom: 11px;
  box-shadow: 0 3px 0 #367315;
}

.item__btn-buy::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  opacity: 0.3;
  transition: 0.3s;
}

.item__btn-buy:hover::before {
  opacity: 1;
}

.item__btn-buy:hover {
  background-color: #5fbb2d;
}

.item__btn-buy:active {
  background-color: #518534;
  box-shadow: 0 3px 0 #518534;
}

.item__btn-bookmark {
  display: inline-block;
  vertical-align: middle;
  min-width: 135px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  line-height: 32px;
  padding: 0;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: none;
}

.item__btn-bookmark:hover {
  border-color: #32425c;
}

.item__btn-bookmark:active {
  opacity: 0.3;
}

.item__btn-bookmark:focus {
  outline-color: #3bbce3;
}


.item h3 {
  font-size: 18px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 9px;
  margin-bottom: 11px;
}

.item__old-price {
  display: block;
  min-height: 18px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: 700;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.item__new-price {
  display: block;
  position: relative;
  width: 134px;
  height: 38px;
  line-height: 38px;
  margin: 0 auto;
  font-weight: 700;
  padding: 0 10px 0 10px;
  color: #fff;
  background: #ee3643;
  border-radius: 3px;
  font-size: 17px;
}

.item__new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #ee3643;
}

.sorting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 38px;
  padding-left: 19px;
  padding-right: 17px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.sorting h3 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
}


.sorting__by-type {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 46px;
}

.sorting__by-type li:first-child {
  margin-right: 69px;
}

.sorting__by-type li {
  margin-right: 67px;
}

.sorting__by-type li:last-child {
  margin-right: 0;
}

.sorting__by-type a {
  font-size: 13px;
  text-transform: uppercase;
  color: #b3b3b3;
  border-bottom: 1px dotted #ee3643;
  transition: 0.3s;
}

.sorting__by-type a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting__by-type a:active {
  color: #ee3643;
  border-color: transparent;
}

.sorting__by-type a:not([href]) {
  color: #ee3643;
  border: none;
  pointer-events: none;
}

.sorting__ascending {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sorting__ascending li {
  margin-right: 21px;
}

.sorting__ascending li:last-child {
  margin-right: 0;
}

.sorting__ascending svg {
  fill: #c5c5c5;
  transition: 0.3s;
}

.sorting__ascending a:hover svg {
  fill: #231f20;
}

.sorting__ascending a:active svg {
  fill: #ee3643;
}

.sorting__ascending .active {
  pointer-events: none;
}

.sorting__ascending .active svg {
  fill: #ee3643;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 60px;
}

.pagination li {
  margin-right: 10px;
}

.pagination__link {
  display: block;
  min-width: 38px;
  text-align: center;
  font-size: 13px;
  color: #000000;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  transition: 0.3s;
}

.pagination__link.active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  pointer-events: none;
}

.pagination__link:hover {
  border-color: #bdc6ca;
}

.pagination__link:active {
  border-color: #ee3643;
}

.pagination__lin--next {
  min-width: 140px;
}

.description {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.description h2 {
  letter-spacing: 0.005em;
}

.description p {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.013em;
  margin-top: 0;
  margin-bottom: 0;
}

.description p:first-of-type {
  letter-spacing: 0.004em;
}

.footer {
  font-family: "Cuprum", sans-serif;
  color: #fff;
  background-color: #32425c;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 940px;
  margin: 0 auto 32px;
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto 50px;
}

.footer__bottom {
  background-color: #293449;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__menu li {
  margin-left: 59px;
}

.footer__menu a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid transparent;
}

.footer__menu a:hover {
  border-color: currentColor;
}

.footer__menu a:active {
  opacity: 0.5;
  border-color: transparent;
}

.footer__address {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
}

.footer__menu-categories {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__menu-categories li {
  margin-left: 59px;
}

.footer__menu-categories a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid transparent;
}

.footer__menu-categories a:hover {
  border-color: currentColor;
}

.footer__menu-categories a:active {
  opacity: 0.5;
  border-color: transparent;
}

.footer__bottom-wrapper {
  display: flex;
  width: 940px;
  padding-top: 36px;
  padding-bottom: 31px;
  margin: 0 auto;
}


.footer__copyright {
  max-width: 250px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-top: 2px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 142px;
}

.footer__social li {
  margin-right: 4px;
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__social__link {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer__social__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__social__link:hover {
  background-color: #ee3643;
}

.footer__social__link--vk::before {
  width: 26px;
  height: 15px;
  background-image: url("../img/svg/icon-vk.svg");
}

.footer__social__link--fb::before {
  width: 12px;
  height: 22px;
  background-image: url("../img/svg/icon-fb.svg");
}

.footer__social__link--inst::before {
  width: 21px;
  height: 21px;
  background-image: url("../img/svg/icon-insta.svg");
}

.footer__developer-contacts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  padding-right: 14px;
  margin: 0;
  margin-left: auto;
}

.footer__developer-contacts li {
  margin-right: 51px;
}

.footer__developer-contacts li:last-child {
  margin-right: 0;
}


.footer__developer-contacts a {
  display: block;
  color: #ffd180;
  border-bottom: 1px solid transparent;

}

.footer__developer-contacts a:hover {
  border-color: currentColor;
}

.footer__developer-contacts a:active {
  color: #ee3643;
  border-color: transparent;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: none;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal--show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.5s;
}

.modal__close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background-image: url('../img/svg/icon-close.svg');
  background-color: transparent;
}

.map {
  position: relative;
  width: 940px;
  height: 446px;
}

.map iframe {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
}

.map p {
  margin: 0;
}

.map img {
  display: block;
}

.modal--write-us,
.modal--cart {
  width: 620px;
  padding: 48px 80px 0;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.modal--cart {
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal--write-us {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal--write-us label {
  display: block;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 9px;
}

.modal--write-us p {
  width: 220px;
  margin: 0;
}

.modal__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.modal__textarea {
  width: 100%;
  margin-bottom: 37px;
}

.modal--write-us input {
  width: 100%;
  line-height: 34px;
  padding: 0 15px;
  transition: 0.3s;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  font-size: 13px;
}

.modal--write-us textarea {
  width: 100%;
  min-height: 114px;
  transition: 0.3s;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  font-size: 13px;
  padding: 10px 15px;
}

.modal--write-us input:hover,
.modal--write-us textarea:hover {
  border-color: #32425c;
}

.modal__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 37px 80px;
  margin-left: -80px;
  margin-right: -80px;
}

.modal .btn {
  min-width: 220px;
}

.modal--cart h2 {
  position: relative;
  font-size: 30px;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  line-height: 66px;
  padding-left: 97px;
  margin-top: 0;
  margin-bottom: 49px;
}

.modal--cart h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 66px;
  height: 66px;
  background-image: url("../img/svg/icon-mark.svg");
}
